<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sofun.api.mapper.JhacRoleNaviMapper" >
  <resultMap id="BaseResultMap" type="com.sofun.api.pojo.JhacRoleNavi" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="navi_id" property="naviId" jdbcType="INTEGER" />
    <result column="clazz" property="clazz" jdbcType="INTEGER" />
  </resultMap>
 
  <sql id="Base_Column_List" >
    id, role_id, navi_id, clazz
  </sql>
  
 
  <select id="find" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jhac_role_navi
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="query" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select
  	<include refid="Base_Column_List" />
  	from jhac_role_navi
  	
  </select>
  
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from jhac_role_navi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
 
  <insert id="insert" parameterType="com.sofun.api.pojo.JhacRoleNavi" >
    insert into jhac_role_navi
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="naviId != null" >
        navi_id,
      </if>
      <if test="clazz != null" >
        clazz,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="naviId != null" >
        #{naviId,jdbcType=INTEGER},
      </if>
      <if test="clazz != null" >
        #{clazz,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
 
  <update id="update" parameterType="com.sofun.api.pojo.JhacRoleNavi" >
    update jhac_role_navi
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="naviId != null" >
        navi_id = #{naviId,jdbcType=INTEGER},
      </if>
      <if test="clazz != null" >
        clazz = #{clazz,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
 
</mapper>