<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sofun.api.mapper.JhacLoginLogMapper" >
  <resultMap id="BaseResultMap" type="com.sofun.api.pojo.JhacLoginLog" >
    <id column="log_id" property="logId" jdbcType="VARCHAR" />
    <result column="log_username" property="logUsername" jdbcType="VARCHAR" />
    <result column="log_in_date" property="logInDate" jdbcType="TIMESTAMP" />
    <result column="log_out_date" property="logOutDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    log_id, log_username, log_in_date, log_out_date
  </sql>
  
  
  <select id="find" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from jhac_login_log
    where log_id = #{logId,jdbcType=VARCHAR}
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from jhac_login_log
    where log_id = #{logId,jdbcType=VARCHAR}
  </delete>
 
  <insert id="insert" parameterType="com.sofun.api.pojo.JhacLoginLog" >
    insert into jhac_login_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        log_id,
      </if>
      <if test="logUsername != null" >
        log_username,
      </if>
      <if test="logInDate != null" >
        log_in_date,
      </if>
      <if test="logOutDate != null" >
        log_out_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=VARCHAR},
      </if>
      <if test="logUsername != null" >
        #{logUsername,jdbcType=VARCHAR},
      </if>
      <if test="logInDate != null" >
        #{logInDate,jdbcType=TIMESTAMP},
      </if>
      <if test="logOutDate != null" >
        #{logOutDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
 
  <update id="update" parameterType="com.sofun.api.pojo.JhacLoginLog" >
    update jhac_login_log
    <set >
      <if test="logUsername != null" >
        log_username = #{logUsername,jdbcType=VARCHAR},
      </if>
      <if test="logInDate != null" >
        log_in_date = #{logInDate,jdbcType=TIMESTAMP},
      </if>
      <if test="logOutDate != null" >
        log_out_date = #{logOutDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where log_id = #{logId,jdbcType=VARCHAR}
  </update>
  
</mapper>